body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#4C4C2D;
    background-color: #E8EAE5;
}

h1,h2,h3{
    margin: 0;
}

p{
    margin: 0;
}

header {
    padding: 15px 1% 17px 1%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #E8EAE5;
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
    border-radius: 25px;
}

header h1 {
    color: #4C4C2D;
    background-color: #E8EAE5;
    padding: 24px 1% 24px 3%;
    margin: 0;
    font-size: 40px;
    line-height: 1;
}

header nav {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 15px;
}

header nav ul,li {
    list-style-type: none;
    margin-left: 25px;
    display: inline-block;
}

nav a:hover {
    background-size: 100% 100%;
    color: #918B58;
}

.background-main {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 30vh;
    color: lightgrey;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.main-wrap {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.aside-section-left {
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.aside-section-left > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid #8FBBD9;
    font-size: 4vw;
    line-height: 1.1;
}
.aside-section-left > h2:first-child {
    flex: 0 0 20%;
    text-align: center;
    padding-right: 15px;
    border-right: 4px solid #8FBBD9;
    font-size: 4vw;
    line-height: 1.1;
}

.aside-section-right {
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.aside-section-right > h2 {
    flex: 0 0 20%;
    text-align: left;
    padding-left: 15px;
    border-left: 4px solid #8FBBD9;
    font-size: 4vw;
    line-height: 1.1;
}
.main-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.container-image {
    background-image: url("./images/webpage.jpg");
    /* border:2px #4C4C2D;
    background-color: #918B58;
    color: #8FBBD9;
    flex-basis:auto;
    display:flex;
    align-items:flex;
    margin: 1em;
    padding:2px;
    min-height: 150px;
    max-height: 150px;
    background-size: 100%;
    flex-basis: auto;   */
    border: 5px solid #8FBBD9;
  background-color: #8FBBD9;
  color: #8FBBD9;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

.container-image:first-child {
    min-height: 50%;
    flex-basis: 100%;
}

.main-container:hover {
    background-color:#8FBBD9;
  }
  

.socia-media-venmo {
    border-image: url("./images/icon/vimeo.png") ;
}

.socia-media-github {
    border-image: url("./images/icon/github.jpf") alt="github icons created by Pixel perfect - Flaticon";
}

.socia-media-google {
    border-image: url("./images/icon/google-plus.png") alt="google icons created by Pixel perfect - Flaticon";
}

.socia-media-Linkedin {
    border-image: url("./images/icon/linkedin.png") alt="Linkedin icons created by Pixel perfect - Flaticon";
}